[build]
builder = "NIXPACKS"

[variables]
# Forzamos la carpeta pública para el servidor interno de PHP
DOCUMENT_ROOT = "/public"

[deploy]
# Usamos php artisan serve pero asegurándonos de que use el puerto que Railway le asigna
startCommand = "php artisan migrate --force && php artisan optimize && php artisan serve --host=0.0.0.0 --port=$PORT"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 5

[deploy.workers]
# Proceso para Reverb
reverb = "php artisan reverb:start --host=0.0.0.0 --port=8080"