[build]
builder = "NIXPACKS"

[variables]
# Indicamos a Nixpacks dónde está el index.php
DOCUMENT_ROOT = "/public"

[deploy]
# Usamos el comando nativo de Nixpacks para PHP que es más confiable que 'serve'
startCommand = "php artisan migrate --force && php artisan optimize && heroku-php-apache2 public/"
healthCheckPath = "/"
healthCheckTimeout = 100

[deploy.workers]
# Proceso para Reverb
reverb = "php artisan reverb:start --host=0.0.0.0 --port=8080"