[build]
builder = "NIXPACKS"

[variables]
DOCUMENT_ROOT = "/public"

[deploy]
# Usamos php artisan serve. Es vital que el host sea 0.0.0.0
startCommand = "php artisan migrate --force && php artisan optimize && php artisan serve --host=0.0.0.0 --port=$PORT"
healthCheckPath = "/"
healthCheckTimeout = 120

[deploy.workers]
# El servidor Reverb escucha internamente en el 8080
reverb = "php artisan reverb:start --host=0.0.0.0 --port=8080"